<div class="cp-statusbar" data-testid="status-bar">
  @for (indicator of indicators(); track indicator.key) {
    @if (indicator.component) {
      <ng-container *ngComponentOutlet="indicator.component" />
    } @else {
      <span class="cp-indicator" [attr.data-testid]="indicator.testId ?? null">
        @if (indicator.glyph) {
          <svg class="cp-icon"><use [attr.href]="'#' + indicator.glyph" /></svg>
        }
        @if (indicator.cssClass) {
          <span [class]="'cp-dot ' + indicator.cssClass()"></span>
        }
        {{ indicator.textSignal ? indicator.textSignal() : (indicator.text ?? '') }}
      </span>
    }
  }
  <span class="cp-toolbar-spacer"></span>
</div>
